<a href="https://colab.research.google.com/github/hotbari/BE_02_Kimyeonsu/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC17_20%ED%99%94_%EA%B9%80%EC%97%B0%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter17 ~ 20 수업은 잘 들으셨나요?

Chapter17 ~ 20의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

####**제출 방법 안내**
상단 파일명(4일차_파이썬17_20화.ipynb)을 5일차_파이썬17_20화_000(본인이름).ipynb로 변경후 아래 링크로 접속 후 본인 이름의 폴더에 제출해주면 됩니다.

제출 링크 :

####**답변 입력 방법 안내**
"답변"이라고 적힌란을 마우스로 더블 클릭하시면 글을 작성할 수 있습니다.

텍스트에 글을 더 잘 작성하기 위해서는 마크다운 언어를 공부하시면 됩니다.

**(구글 검색 창에 "코랩 마크다운" 검색)**

문제1  

print_even 리스트 내에 있는 값 중 짝수만 화면에 출력되도록 print_score 함수를 생성 후 결과값을 출력해주세요

print_even ([1, 3, 2, 10, 12, 11, 15])

In [ ]:

def print_score():
    print_even = [1,3,2,10,12,11,15]
    result = []
    for i in print_even :
        if i%2 == 0:
            result.append(i)

    return result

print_score()

[2, 10, 12]

문제2  

비어있는 오즈 (oz) 클래스를 "정의" 해보세요.

In [ ]:
class oz:
    pass

oz()

문제3   

오즈(oz) 클래스의 인스턴스를 "생성" 하고 이를 coding 변수로 할당해보세요.

In [ ]:
class oz:
    def __init__(self):
        print('생성')

coding = oz()

생성

문제4  

오즈(oz) 클래스에 "클래스 정복"을 출력하는 기본 생성자를 추가해주세요

In [ ]:
class oz:
    def __init__(self):
        print('클래스 정복')

coding = oz()

클래스 정복

문제5  

오즈 (oz) 클래스에 (이름, 나이, 코딩레벨)을 받는 생성자를 추가해주세요

coding = oz("김코", 30, "A")

In [ ]:
class oz:
    def __init__(self, name, age, level):
        print(name,age,level)

coding = oz("김코",30,"A")

김코 30 A

문제6

5번 문제에서 생성한 인스턴스의 이름, 나이, 성별을 출력해주세요.
인스턴스 변수에 접근하여 값을 출력하면 됩니다  : )

출력 결과  
이름 : 김코  
나이 : 30  
코딩레벨 : A

In [ ]:
class oz:
    def __init__(self,name,age,level):
        self.name = name
        self.age = age
        self.level = level
        self.sex = 'M'

coding = oz("김코",30,'A')

print('이름: ',coding.name)
print('나이: ',coding.age)
print('코딩레벨: ',coding.level)
print('성별: ',coding.sex)

이름:  김코
나이:  30
코딩레벨:  A
성별:  M

뮨제7  

오즈 (oz) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하고 who()메소드를 이용해 아래 출력 결과를 만들어주세요


출력 결과 : 이름: 김코, 나이: 30, 코딩레벨: A

In [ ]:
class oz:
    def __init__(self,name,age,level):
        self.name = name
        self.age = age
        self.level = level

    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 코딩레벨:{self.level}')

coding = oz("김코",30,"A")
coding.who()

이름: 김코, 나이: 30, 코딩레벨:A