<a href="https://colab.research.google.com/github/hotbari/BE_02_Kimyeonsu/blob/main/chapter05_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
## 아아 : 5000원 / 아샷추 : 6500원
# 아아 2잔 / 아샷추 3잔

americano_price = 5000
addshot_price = 6500

americano_order = 2
addshot_order = 3

americano_sell = americano_price * americano_order
addshot_sell = addshot_price * addshot_order

print(f'아메리카노 {americano_order}잔 {americano_sell}원, 아샷추 {addshot_order}잔 {addshot_sell}원. 총 {(americano_sell + addshot_sell)}원 입니다')

아메리카노 2잔 10000원, 아샷추 3잔 19500원. 총 29500원 입니다

In [10]:
# 하나의 값을 변수에 넣을 때
num = 1
print(num)

# 두 개의 값을 변수에 넣을 때
num_1, num_2 = 1,2
print(num_1)
print(num_2)
print(num_1,num_2)

1
1
2
1 2

1부터 5까지 숫자를 더하는 문제

In [13]:
# 할당(assignment) 활용

sum = 1
sum += 2
sum += 3
sum += 4
sum += 5
print(sum)

sum -= 5
sum -= 4
sum -= 3
sum -= 2
sum -= 1
print(sum)

15
0

In [16]:
nothing = None
nothing

In [17]:
print(None)

None

In [18]:
print(nothing)

None

In [19]:
# 변수는 대소문자를 구분해요
Big = "되게 크다"
big = "쫌 크다"
print(Big, big)

되게 크다 쫌 크다

스네이크 케이스(snake_case)   
카멜 케이스(camelCase)

In [ ]:
#print() 포메팅 3가지
# f-strin : print(f' {변수명}')

In [25]:
## 붕어빵


p='붕어빵(팥)'
s='붕어빵(슈크림)'
j='붕어빵(잡채)'

# 붕어빵 단품 가격
p__price = 2000
s__price = 2500
j__price = 3000

# 붕어빵 주문 수량
p__order = int(input('팥붕:'))
s__order = int(input('슈붕:'))
j__order = int(input('잡붕:'))

# 붕어빵 결제 금액
p__sell = p__price * p__order
s__sell = s__price * s__order
j__sell = j__price * j__order

print(f'주문이 완료되었습니다. {p} {p__order}개, {s} {s__order}개, {j} {j__order}개 총 {p__order + s__order + j__order}개 결제 금액은 {p__sell + s__sell + j__sell}입니다. ')

팥붕:5
슈붕:2
잡붕:1
주문이 완료되었습니다. 붕어빵(팥) 5개, 붕어빵(슈크림) 2개, 붕어빵(잡채) 1개 총 8개 결제 금액은 18000입니다.

In [34]:
#1. int(integer)
#2. float
#3. str
#4. bool : 참/거짓, True/False, 1/0

#5.list
#6. tuple
#7. dict
#8. set

0

In [35]:
# 형 변환
print(float(5))
print(int(5.0))

5.0
5

In [36]:
#int형이 가지고 있는 속성들
나이 = 21
type(나이)
print(dir(나이))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [37]:
print(나이.bit_length())
print(bin(나이))

5
0b10101

In [46]:
이름 = '정성찬'
나이 = 21
소속 = '서울특별시 청담동'
키 = 186

print(type(이름))
print(type(나이))
print(type(소속))
print(type(키))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

str : 문자열  
특징 : 시퀀스 자료형  
*시퀀스란? 요소들이 연속적으로 이어진 자료형  
값 하나하나를 요소라고 한다

In [50]:
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])
print(소속[5])
print(소속[6])
print(소속[7])
print(소속[8])

print('시' in 소속)

서
울
특
별
시

청
담
동
True

In [52]:
게임 = '아싸홍삼! 에브리바디 홍삼!'
print(게임)
print(게임 * 6)

아싸홍삼! 에브리바디 홍삼!
아싸홍삼! 에브리바디 홍삼!아싸홍삼! 에브리바디 홍삼!아싸홍삼! 에브리바디 홍삼!아싸홍삼! 에브리바디 홍삼!아싸홍삼! 에브리바디 홍삼!아싸홍삼! 에브리바디 홍삼!

In [53]:
#슬라이싱 변수명[시작값:끝값+1]
print(게임[0:6])

아싸홍삼!

In [56]:
birth = "2001.09.13"
year = birth[0:4]
month= birth[6:7]
date = birth[8:]

print(f'{year}, {month}, {date}')

2001, 9, 13

In [71]:
num = "1234567890"

# 전체 출력
print(num[::])

# 전체 출력
print(num[::-1])

# 2칸씩
print(num[::2])

# 인덱스 8까지 2칸씩
print(num[0:8:2])

# 슬라이싱 2칸씩 역주행
print(num[8:0:-2])

1234567890
0987654321
13579
1357
9753

In [91]:
quiz = '스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이'
print(quiz[-7:])
print(quiz[22:27])

 어중이떠중이
어중이떠중

In [75]:
fruit = 'apple'
print(fruit.count('p'))
print(fruit.index('p'))

2
1

In [93]:
lalaland = '사람들은 다른 사람의 열정에 끌리게 되어있어. 자신이 잊은 것을 상기시켜주거든'

print(type(lalaland))
print(lalaland[::-1])
print(len(lalaland))
print(lalaland[11:43])

people = lalaland[:2]
passion = lalaland[12:14]
remind = lalaland[-7:-5]
print(people,passion,remind)

<class 'str'>
든거주켜시기상 을것 은잊 이신자 .어있어되 게리끌 에정열 의람사 른다 은들람사
43
 열정에 끌리게 되어있어. 자신이 잊은 것을 상기시켜주거든
사람 열정 상기

In [94]:
우영우 = "기러기토마토스위스역삼역"
print(우영우[::-1])

역삼역스위스토마토기러기

In [101]:
#Bool ..... ..  .... SHOWTIME
#True true False false 달라요 => True, False

print('heyhey' == 'heyHey')
print('Python'!='pypy')
print( 5 >= 5 )
print( 5 < 4)

False
True
True
False

In [106]:
# 중요
# == , is

print(3 is 3)
print(3.0 is 3) # 객체 타입 비교
print(3.0 == 3) # 값만 비교

print(id(3.0))

True
False
True
132374816053232

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-106-244f67a2986c>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(3 is 3)
<ipython-input-106-244f67a2986c>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(3.0 is 3) # 타입 비교

In [112]:
# 논리연산자
# True : 1 , False : 0
True and True #결괏값 True 1*1 = 1
True and False #결괏값 False 1*0 = 0
False and True #결괏값 False 0*1 = 0
False and False #결괏값 False 0*0 = 0

False

In [118]:
True or True #결괏값 True 1+1 = 2...
True or False #결괏값 True 1+0 = 1
False or True #결괏값 True 0+1 = 1
False or False #결괏값 False 0+0 = 0

False

In [121]:
# not

not True #False
not False #True

True

In [127]:
10 == 12 or 6 != 2 #True
2 > 5 and 7 == 7 #False
not 14 <= 15 #False
not 7 is 7.0 #True

True

In [128]:
# 문자열 Bool

bool('우악')

True

In [134]:
# 중요!
# 단락 평가
# 앞의 False and 만 봐도 False 여서 뒤는 신경X
# 코드 실행 속도 단축에 큰 영향을 준다
print(False and True) #False
print(False and '우악') #False

print(True and False) #False

# 뒤에 있는 값 출력
print(True and '흐엥') #흐엥

print(True or '하암') #True

False
False
False
흐엥
True