<a href="https://colab.research.google.com/github/hotbari/BE_02_Kimyeonsu/blob/main/chapter01_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#주석!
print("안보여유")

안보여유

In [ ]:
for animal in ("rabbit","dog",'cat','tiget'):
    print(animal)
print("보러갈래요?")

rabbit
dog
cat
tiget
보러갈래요?

#사칙연산
더하기 +

빼기 -

곱하기 *

나누기


*   / : 일반적인 나누기
*   // : 몫만 반환
*   % : 나머지 반환


거듭제곱 **

In [ ]:
#더하기
print(3+2)

5

In [ ]:
#빼기
print(10-3)

7

In [ ]:
#곱하기
print(3**3)

27

In [ ]:
#나누기 /
print(6/5)

1.2

In [ ]:
#나누기 //
print(6//5)

1

In [ ]:
#나누기 %
print(6%5)

1

**divmod**

In [ ]:
divmod(3,2)

(1, 1)

In [ ]:
#아아 : 5000원 / 아샷추 : 6500원
# 아아 2잔 / 아샷추 3잔

In [ ]:
num = 1
print(num)

num_1, num_2 = 1, 2
print(num_1)
print(num_2)

print(num_1,num_2)

1
1
2
1 2

In [ ]:
#1부터 5까지의 숫자를 더하는 문제. (변수 사용)
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5
print(sum)

15

In [ ]:
sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5
print(sum2)

15

In [ ]:
#변수에 어떤값도 넣지 않고 선언하는 법
nothing = None
print(nothing)
print(None)

None
None

In [ ]:
#print() 포메팅 3가지 f-string : print(f'{변수명}')

me = "나"
print(f'{me}만 빼고 다 고양이 있어')

나만 빼고 다 고양이 있어

In [ ]:
fish__p, fish__s, fish__j = "붕어빵(팥)", "붕어빵(슈크림)", "붕어빵(잡채)"
p_price, s__price, j__price = 2000, 2500, 3000
order__j, order__s = 3, 2

j__pay, s__pay = j__price*order__j, s__price*order__s
total = order__j + order__s
total__pay = j__pay + s__pay

print(f'주문이 완료되었습니다. {fish__s}{order__s}개, {fish__j}{order__j}개 총 {total}개 결제 금액은 {total__pay}입니다.b')

주문이 완료되었습니다. 붕어빵(슈크림)2개, 붕어빵(잡채)3개 총 5개 결제 금액은 14000입니다.

In [ ]:
이름 = '정성찬'
나이 = 21
키 = 186
소속 = '서울'

print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>

In [ ]:
print(float(5))
print(int(5.0))
print("5","5.0")
print(type("5"), type("5.0"))

5.0
5
5 5.0
<class 'str'> <class 'str'>

In [ ]:
"14"+"월요일"

'14월요일'

In [ ]:
문장 = "안녕하세요. 오늘 하루도 좋은 날 보내세요"
print(문장[-1])
print(문장[3:7])

요
세요.

In [ ]:
생년월일 = "2001.09.13"
print(생년월일[0:4],생년월일[5:7],생년월일[8:11])

2001 09 13

In [ ]:
year = 생년월일[0:4]
month = 생년월일[5:7]
day = 생년월일[8:11]

print(f'{year} {month} {day}')

2001 09 13

In [ ]:
숫자 = "2523750238901"

print(숫자[::])
print(숫자[::-1])
print(숫자[::2])

2523750238901
1098320573252
2270391

In [ ]:
퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"
print(퀴즈[-6:])

어중이떠중이

In [ ]:
과일 = 'apple'
print(과일.count('p'))
print(len(과일))

2
5

In [ ]:
lalaland = "사람들을 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜주니까"

In [ ]:
(3*7-16)/2-1

1.5

In [ ]:
ㄷ